# Ignore everything
*

# Allow Git to enter directories
!*/

# Keep this file
!.gitignore

# Keep extension files
!extensions/
!extensions/voxel_overlay.ext.2.tf2.dll
!extensions/voxel_overlay.ext.2.tf2.ext.txt

# Keep scripting directory and contents
!scripting/
!scripting/**